@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.change-color{
 background-color: #3333ff;
}
header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #3333ff;
}
.button2 {
  padding: 2px;
  border: 3px solid #3333ff;
  border-radius: 16px;
  width: 40px;
  height: 20px;
  display: flex;
}
.button-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3333ff;
}
.header-texts {
  display: flex;
  gap: 14px;
}
.header-text {
  color: #3333ff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.information {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  border-bottom: 2px solid #3333ff;
}
.profile-image {
  width: 110px;
  height: 110px;
  align-self: center;
}
.texts {
  display: flex;
}
h2 {
  text-align: center;
  color:#3333ff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
h3 {
  text-align: center;
  color: #3333ff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.information-text {
  text-align: center;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #3333ff;
}
.logos {
  display: flex;
  gap: 10px;
  justify-content: center;
}
button {
  width: 175px;
  height: 40px;
  align-self: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #3333ff;
  color: #fff;
}
.education {
  display: flex;
}
@media screen and (min-width: 720px) {

  .app {
    height: 100vh;
  }
  .bottom-part {
    display: flex;
  }
  .information {
    width: 300px;
    height: 100vh;
    display: flex;
    gap: 15px;
    flex-direction: column;
    border: none;
    padding: 15px;
    justify-content: flex-start;
  }
  .profile-image {
    width: 110px;
    height: 110px;
    align-self: center;
  }
  .texts {
    display: flex;
  }
  h2 {
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .information-text {
    text-align: center;
    margin-top: 10px;
  }
  .logos {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  button {
    width: 175px;
    height: 40px;
    align-self: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  button:hover{
    background-color: #fff;
    color: #3333ff;
    border: 2px solid #3333ff;
  }
  .education {
    display: flex;
  }
}
